<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">


<ion-header-bar class="bar-positive">
  <div class="buttons">  
    <h1 class="title">Gestão de Negócios Gastrônomicos</h1>
  </div>
</ion-header-bar>


<div class="row col col-50">teste</div>
  
<ion-content ng-controller="AppCtrl">

<div class="row">
<div class="col col-25"></div>
<div class="col col-50">
<br><br>
  <img src="img/login.png" width="100%" class="center">
  <br><br>
  </div>
</div>

  <label class="item item-input">
  <i class="icon ion-ios-person placeholder-icon"></i>
   <input type="text" placeholder="Usuário" ng-model="user.name">
   </label>

   <label class="item item-input">
   <i class="icon ion-ios-locked placeholder-icon"></i>
   <input type="password" placeholder="Senha" ng-model="user.password">
   </label>
   
  <button class="button button-full button-positive" ng-click="signIn()">Entrar</button>

  <ion-list show-delete="showDelete">
      <ion-item ng-repeat="prod in produtos" class="item-text-wrap">
          <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(prod)">
          </ion-delete-button>
           Código: {{ prod.codigo }}<br>
         Nome: {{ prod.nome }}<br>
         Quantidade: {{ prod.qtde }}<br>
         Valor: {{ prod.valor }}<br>

       <ion-option-button class="button-assertive" ng-click="openModal(prod)">
          Alterar
        </ion-option-button>

         </ion-item>
  </ion-list>
</ion-content>  
    
    <script id="my-modal.html" type="text/ng-template">
 <ion-modal-view>
   <ion-header-bar>
      <button 
      class="button button-icon ion-ios-close-empty" 
      ng-click="closeModal()">
    </button>
    <div class="buttons">
      <h1 class="title">Atualiza Produto</h1>
    </div>
   </ion-header-bar>
   <ion-content>
     
      <label class="item item-input">
   <input type="text" ng-model="prod.codigo">
   </label>

   <label class="item item-input">
   <input type="text" placeholder="Nome" ng-model="prod.nome">
   </label>

   <label class="item item-input">
   <input type="number" placeholder="Quantidade" ng-model="prod.qtde">
   </label>

   <label class="item item-input">
   <input type="number" placeholder="Valor" ng-model="prod.valor">
   </label>

  <button class="button button-block" ng-click="atualiza()"> 
    Atualiza 
  </button>

   </ion-content>
 </ion-modal-view>
</script>

</body>
</html>
